.mapBomb {
  width: 1.6%;
  height: 1.6%;
  margin-left: -0.8%;
  margin-top: -0.8%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: left 60ms linear, top 60ms linear, opacity 60ms linear, background-color 60ms linear;
  will-change: left, top;
  position: absolute;
  opacity: 1;
  background-color: orangered;
}

.mapBomb-icon {
  width: 62%;
  height: 62%;
  object-fit: contain;
  filter: brightness(0) invert(1);
  pointer-events: none;
}

@keyframes planting {
  0%, 50% {
    background-color: orangered;
  }
  51%, 100% {
    background-color: darkorange;
  }
}

.mapBomb.planting {
  animation: planting 500ms infinite;
}

@keyframes planted {
  0%, 25% {
    box-shadow: 0 0 1vh 1vh darkorange;
  }
  26%, 100% {
    box-shadow: none;
  }
}

.mapBomb.planted {
  animation: planted 500ms infinite;
}

@keyframes defusing {
  0%, 75% {
    box-shadow: none;
  }
  76%, 100% {
    box-shadow: 0 0 1vh 1vh darkorange;
  }
}

.mapBomb.defusing {
  animation: planted 500ms infinite;
  background-color: deepskyblue;
}

@keyframes defused {
  0% {
    box-shadow: 0 0 1vh 1vh deepskyblue;
  }
  100% {
    box-shadow: none;
  }
}

.mapBomb.defused {
  animation: defused 2000ms;
  background-color: deepskyblue;
}

@keyframes explode {
  0% {
    box-shadow: none;
  }

  10%, 15% {
    box-shadow: 0 0 5vh 10vh darkorange;
  }

  95% {
    box-shadow: 0 0 10vh 10vh darkorange;
  }

  100% {
    box-shadow: none;
  }
}

.mapBomb.explode {
  animation: explode 5000ms linear;
}
